@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 4% 5%;
    --foreground: 0 0% 98%;

    --card: 120 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 120 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 113 88% 33%;
    --primary-foreground: 0 0% 98%;

    --secondary: 120 2% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 120 2% 18%;
    --muted-foreground: 108 2% 49%;

    --accent: 115 18% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 2% 12%;
    --input: 120 2% 18%;
    --ring: 113 88% 40%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply flex h-full flex-col bg-background text-foreground;
  }
  #root {
    @apply h-full;
  }
}
